body {
    font-family:sans-serif;
} 
.photo{
     display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  float:right;
}
h1{
    text-align: center;
}

.desat1 img {
  max-width: 100px;
  height: auto;
  display: block; 
  margin: 0 auto;
}
.desat1{
  gap: 20px;
  background-color: #D9D9D9;
  max-width: 150px;
  text-align: center; 
  padding: 10px;      
}
.logo{
   display: block;
  margin: 0 auto;
}
a{
text-decoration: none;
color:black;
}
nav {
  display: flex;
  justify-content: center;  
  gap: 40px;               
  padding: 10px 0;
}
footer{
  background-color: #9D9D9D;
  color:white;
  font-size: 25px;
}
.nomer::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/687377b950d6c.png);
}
.inst::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/6873799f17f66.png);
}
.face::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/68738a472efef.png);
}

footer img.gap {
  float: right;
  margin-left: 20px; 
}
span{
  color: #B16201;
}
section{
  position: static;
}
a:hover{
  color: rgb(171, 171, 171);
  transition: 0.3s;
}
